<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>MIKE CRANE | Front-End Web Developer | Resume</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="resume-wrapper">
    <section class="profile section-padding">
      <div class="container">
        <div class="picture-resume-wrapper">
          <div class="picture-resume">
          <span><img src="images/profile.jpg" alt="" /></span>
          <svg version="1.1" viewBox="0 0 350 350">
    
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -9" result="cm" />
      </filter>
    </defs>
    
    
  <g filter="url(#goo)" >  
    
    <circle id="main_circle" class="st0" cx="171.5" cy="175.6" r="130"/>
    
    <circle id="circle" class="bubble0 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble1 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble2 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble3 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble4 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble5 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble6 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble7 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble8 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble9 st1" cx="171.5" cy="175.6" r="122.7"/>
    <circle id="circle" class="bubble10 st1" cx="171.5" cy="175.6" r="122.7"/>

  </g>  
  </svg>
        </div>
          <div class="clearfix"></div>
  </div>
        <div class="name-wrapper">
          <h1>Michael <br/>Crane</h1>
        </div>
        <div class="clearfix"></div>
        <div class="contact-info clearfix">
          <ul class="list-titles">
            <li>Call</li>
            <li>Mail</li>
            <li>Web</li>
            <li>Home</li>
          </ul>
          <ul class="list-content ">
            <li>919-280-0296</li>
            <li>michael@houseofcrane.com</li>
            <li><a href="http://houseofcrane.com/">houseofcrane.com</a></li>
            <li>Raleigh, NC</li>
          </ul>
        </div>
        <div class="contact-presentation">
          <p><span class="bold">Highly</span> motivated front-end developer with technical skills in web applications design and development, possessing knowledge of various languages and tools with a fierce passion around the user experience.
          </p>
        </div>
        <div class="contact-social clearfix">
          <ul class="list-titles">
            <li>Twitter</li>
            <li>Linkedin</li>
            <li>GitHub</li>
          </ul>
          <ul class="list-content">
            <li><a href="https://twitter.com/houseofcrane">@houseofcrane</a></li>
            <li><a href="https://www.linkedin.com/in/michael-crane-81579aba">Michael Crane</a></li>
            <li><a href="https://github.com/mike-crane">mike-crane</a></li>
          </ul>
        </div>
      </div>
    </section>
    
    <section class="experience section-padding">
      <div class="container">
        <h3 class="experience-title">Experience</h3>
        
        <div class="experience-wrapper">
          <div class="company-wrapper clearfix">
            <div class="experience-title">3S Ventures</div>
            <div class="time">Nov 2016 - Sep 2017</div>
          </div>
          
          <div class="job-wrapper clearfix">
            <div class="experience-title">Front End Developer </div>
            <div class="company-description">
              <p>Translated designs to front-end code and determined developer requirements and specifications.</p>  
              
              <p>Developed responsive web pages and UI components using HTML, CSS, JavaScript, jQuery and Bootstrap.</p>
              
              <p>Collaborated with content and analytics teams on the execution of ideas and projects.</p>
              
              <p>Wrote maintainable, scalable, responsive, and cross-browser code.</p>
              
              <p>Updated and streamlined existing code to improve site performance.</p>
              
              <p>Designed and developed views/templates using the Swig templating engine to integrate into CMS.</p>
              
              <p>Performed A/B testing and coordinated with clients in page optimizations.</p>
            </div>
          </div>
          
          <div class="company-wrapper clearfix">
            <div class="experience-title">Merrill Lynch</div>
            <div class="time">May 2011 - Jan 2016</div>
          </div>
          
          <div class="job-wrapper clearfix">
            <div class="experience-title">Financial Advisor</div>
            <div class="company-description">  
              <p>Licensed in Life, Accident & Health Insurance, Series 66 & 7 </p>
              
              <p>Graduate of the Practice Management Development (PMD) program </p>
              
              <p>Provided comprehensive financial planning for client base of high net-worth individuals </p>
              
              <p>Oversaw investments and proactively managed client funds </p>
              
              <p>Engaged in business-continuance and estate planning, implemented and administered 40lk and employee benefits, and orchestrated and funded deferred compensation</p>

            </div>
          </div>
          
          <div class="company-wrapper clearfix">
            <div class="experience-title">DermatechMD</div> 
            <div class="time">Oct 2010 - May 2011</div> 
          </div> 
          
          <div class="job-wrapper clearfix">
            <div class="experience-title">SEO Specialist </div>
            <div class="company-description">
              <p>Developed link building strategies to improve SEO positions for targeted keywords</p>
              
              <p>Improved organic search results and pay per click (PPC) campaigns through identification of profitable keywords</p>
            </div>
          </div>
          
        </div>
        
        <div class="section-wrapper clearfix">
          <h3 class="section-title">Skills</h3> 
            <ul>
              <li class="skill-percentage">HTML / HTML5</li>
              <li class="skill-percentage">CSS / CSS3 / SASS</li>
              <li class="skill-percentage">Javascript</li>
              <li class="skill-percentage">Jquery</li>
              <li class="skill-percentage">Mongo</li>
              <li class="skill-percentage">Express</li>
              <li class="skill-percentage">React</li>
              <li class="skill-percentage">Node</li>
              <li class="skill-percentage">Wordpress</li>
              <li class="skill-percentage">Photoshop</li>
              
            </ul>
          
        </div>
        
        <div class="section-wrapper clearfix">
          <h3 class="section-title">Hobbies</h3> 
          <p>I love exploring the outdoors alongside my wife, daughter and our dog, Georgia.</p>

          <p>I also love diving into projects whether it be home improvement, woodworking or my personal favorite, daddy-daughter.</p>
        </div>
        
      </div>
    </section>
    
    <div class="clearfix"></div>
  </div>

  <script>
    (function (b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l; b[l] || (b[l] =
        function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
      e = o.createElement(i); r = o.getElementsByTagName(i)[0];
      e.src = '//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-111466066-1', 'auto'); ga('send', 'pageview');
  </script>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>

    <script  src="js/index.js"></script>

</body>
</html>
