html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, resume, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
div, span, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
}
* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
text-decoration: none;
}
html {
line-height: 1;
}
ol,
ul {
list-style: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
caption,
th,
td {
text-align: left;
font-weight: normal;
vertical-align: middle;
}
q,
blockquote {
quotes: none;
}
q:before, q:after,
blockquote:before,
blockquote:after {
content: "";
content: none;
}
a img {
border: none;
}
article, aside, details, span, div,
footer, header, hgroup, main, menu,
nav, section, summary {
display: block;
}
body {
background-color: #fff;
font-family: 'Economica', sans-serif;
font-size: 18px;
padding-top: 140px;
-moz-transition: padding-top .9s ease;
-o-transition: padding-top .9s ease;
-webkit-transition: padding-top .9s ease;
transition: padding-top .9s ease;
}
/* =============== STYLING FOR HEADER & NAV =============== */

body.sticky-header header {
height: 50px;
}
header {
width: 100%;
height: 150px;
background-color: #FFF;
position: fixed;
top: 0;
overflow: hidden;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
border-top: 4px #fff solid;
}
.fa-github,
.fa-linkedin,
.fa-twitter {
position: absolute;
border: 3px solid #ADADAD;
padding: 0 3px;
border-radius: 5px;
}
.fa-github {
right: 125px;
}
.fa-twitter {
right: 25px;
}
.fa-linkedin {
right: 75px;
}
.fa {
top: 25px;
color: inherit;
position: absolute;
color: #ADADAD;
}
.fa:hover {
transform: scale(1.1);
color: #175C77;
border: 3px solid #175C77;
}
.nav-bar {
font-family: 'Economica', Arial, sans-serif;
text-transform: uppercase;
letter-spacing: 1px;
border-top: 4px #fff solid;
border-bottom: 4px #fff solid;
position: absolute;
bottom: 0;
height: 50px;
line-height: 44px;
width: 100%;
background-color: #175C77;
padding: 0 0 0 85px;
}
.nav-bar a {
padding: 0.4em 0;
margin: 0 0 0 50px;
position: relative;
text-decoration: none;
display: inline-block;
color: #C9C9C9;
font-size: 18px;
line-height: 1;
font-weight: 600;
}
.nav-bar a:before {
position: absolute;
content: '';
-webkit-transition: all 0.25s ease;
transition: all 0.25s ease;
opacity: 0;
top: 25%;
bottom: 25%;
left: 0;
right: 0;
border-top: 3px solid #ABABAB;
border-bottom: 3px solid #ABABAB;
}
.nav-bar a:hover {
color: #fff;
}
.nav-bar a:hover:before {
opacity: 1;
top: 0;
bottom: 0;
}
/* =========== STYLING FOR HEADER LOGO =========== */

.logo {
margin: 8px 0 0 0;
text-align: center;
border-top: 4px solid #175C77;
padding: 8px 0 0 0;
}
.logo * {
margin: 0;
}
#header-name,
#header-title {
max-width: 625px;
color: #175C77;
font-weight: 700;
}
#header-name {
font-family: 'Slabo 27px', serif;
font-size: 3em;
text-transform: uppercase;
letter-spacing: 6px;
font-weight: 700;
color: #175C77;
}
#header-title {
font-size: 100%;
text-transform: uppercase;
position: relative;
width: auto;
}
#header-title:before,
#header-title:after {
position: absolute;
height: 4px;
content: '';
background: #175C77;
width: 905%;
top: 40%;
}
#header-title:before {
left: -870%;
}
#header-title:after {
right: -870%;
}
/* ============ STYLING FOR SECTIONS ============ */

#about-hero {
padding: 30px 0 0 0;
}
p {
margin-bottom: 1rem;
line-height: 1;
}
.wrapper {
width: 100%;
margin: 0 auto;
}
section {
margin: 0;
background-color: #fff;
}
#profile-pic {
width: 175px;
overflow: hidden;
border-radius: 35%;
border: 10px solid #175C77;
display: block;
margin-left: auto;
margin-right: auto;
}
#profile-pic img {
width: 100%;
height: auto;
}
#cover li {
font-family: 'Qwigley', cursive;
display: none;
text-align-last: left;
font-weight: 700;
}
#slide-1 {
font-size: 5em;
padding: 0;
color: #fff;
margin: 85px 0 0 15%;
opacity: 0.15;
float: left;
}
#slide-2 {
font-size: 6.5em;
padding: 0;
color: #fff;
margin: 135px 0 0 5%;
opacity: 0.15;
float: left;
}
#slide-3 {
font-size: 8.5em;
padding: 0;
color: #fff;
margin: 200px 0 0 5%;
opacity: 0.15;
float: left;
}
/*=============================================*/

.about-container {
width: 100%;
max-width: 1200px;
margin: 0 auto;
text-align: center;
}
.project-container {
width: 100%;
max-width: 1200px;
margin: 0 auto;
padding: 20px 0 0 0;
text-align: center;
}
#about,
#projects {
width: 100%;
text-align: center;
padding: 65px 0 65px 0;
margin-top: -65px;
font-size: 60px;
text-transform: uppercase;
font-weight: 600;
color: #175C77;
border-top: 10px solid #175C77;
border-bottom: 10px solid #175C77;
}
a {
text-decoration: none;
color: #b4b4b4;
}
/* ============================================================
SEGMENTS
============================================================ */

section.hero.segment {
background-attachment: fixed;
background-position: 50% 50%;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.hero-text {
color: #FFF;
width: 70%;
font-size: 30px;
font-weight: 700;
padding: 3% 0;
line-height: 40px;
left: 50%;
margin: 0 0 0 15%;
text-align: center;
}
.subheader-text {
font-size: 45px;
color: #FFF;
font-weight: 700;
padding: 30px 0;
}
section.hero.segment-A {
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/wood_floor.jpg");
height: 650px;
padding: 0;
}
section.hero.segment-B {
background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../images/10.png");
height: 650px;
}
div.projectz {
position: relative;
float: left;
overflow: hidden;
margin: 10px 1.66%;
max-width: 30%;
max-height: 285px;
border-radius: 5%;
border: 8px solid #fff;
z-index: 1;
-webkit-transition: all 0.6s ease;
transition: all 0.6s ease;
}
.left-box {
background-color: rgba(173, 105, 76, 0.95);
}
.right-box {
background-color: rgba(45, 49, 66, 0.95);
}
.center-box {
background-color: rgba(148, 148, 148, 0.95);
}
.left-box:hover {
background-color: rgba(173, 105, 76, 0.45);
cursor: pointer;
}
.right-box:hover {
background-color: rgba(45, 49, 66, 0.45);
cursor: pointer;
}
.center-box:hover {
background-color: rgba(148, 148, 148, 0.45);
cursor: pointer;
}
div.projectz img {
opacity: 0.8;
-webkit-transition: all 0.6s ease;
transition: all 0.6s ease;
}
div.projectz span {
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
-webkit-transition: all 0.6s ease;
transition: all 0.6s ease;
}
div.projectz span > div {
height: 50%;
overflow: hidden;
width: 100%;
position: relative;
-webkit-transition: all 0.6s ease;
transition: all 0.6s ease;
}
div.projectz h2 {
margin-top: 10px;
position: absolute;
text-transform: uppercase;
color: #fff;
opacity: 0;
-webkit-transition: all 0.6s ease;
transition: all 0.6s ease;
}
div.projectz .icons {
margin: 0;
position: absolute;
width: 100%;
text-transform: uppercase;
}
div.projectz h2 {
font-size: 2em;
font-weight: 700;
width: 100%;
border-top: 5px solid #fff;
border-bottom: 5px solid #fff;
-webkit-transition: all 0.6s ease;
transition: all 0.6s ease;
}
div.projectz .icons {
opacity: 0;
-webkit-transform: translateY(-5%);
transform: translateY(-5%);
}
div.projectz .icons a {
color: #fff;
text-decoration: none;
font-size: 350%;
opacity: 1;
}
div.projectz .icons a:hover {
opacity: 1;
cursor: pointer;
color: #D3D3D3;
}
div.projectz:hover img,
div.projectz.hover img {
-webkit-filter: opacity(35%);
filter: opacity(35%);
-webkit-transition: all 0.6s ease;
transition: all 0.6s ease;
}
div.projectz:hover span h2,
div.projectz.hover span h2 {
-webkit-transform: translateY(30%);
transform: translateY(30%);
color: #fff;
font-size: 250%;
opacity: 1;
-webkit-transition: all 0.6s ease;
transition: all 0.6s ease;
}
div.projectz:hover span .icons,
div.projectz.hover span .icons {
opacity: 1;
-webkit-transform: translateY(25%);
transform: translateY(25%);
-webkit-transition: all 0.6s ease;
transition: all 0.6s ease;
}
/* ============== MEDIA QUERIES ============== */
/* Tablets (portrait) ----------- */

@media only screen and (max-width: 900px) {
body.sticky-header header {
    height: 45px;
}
body {
    padding-top: 105px;
}
header {
    height: 122px;
}
.nav-bar {
    padding: 0 0 0 40px;
    height: 45px;
    line-height: 35px;
}
.nav-bar a {
    margin: 0 0 0 18px;
    font-size: 15px;
    line-height: .8;
}
#header-name {
    font-size: 2.5em;
    letter-spacing: 5px;
}
.logo {
    padding-top: 2px;
    margin-top: 5px;
}
#header-name,
#header-title {
    max-width: 410px;
}
#header-title {
    font-size: 85%;
}
#header-title:before {
    left: -875%;
}
#header-title:after {
    right: -875%;
}
.header-icons {
    font-size: 36px;
    position: absolute;
    top: 23px;
    right: 10%;
}
.fa {
    top: 15px;
}
#cover li {
    font-size: 4em;
}
#slide-1 {
    padding: 95px 0 0 0;
    margin-left: 22%;
}
#slide-2 {
    padding: 30px 0 40px 0;
    margin-left: 28%;
}
#slide-3 {
    margin-left: 40%;
}
#about,
#projects {
    padding: 55px 0 55px 0;
    margin-top: -55px;
    font-size: 50px;
}
#profile-pic {
    width: 130px;
    border: 8px solid #175C77;
}
.hero-text {
    font-size: 28px;
    line-height: 1.15;
}
.subheader-text {
    font-size: 32px;
    font-weight: 400;
}
div.projectz h2 {
    font-size: 12px;
    font-weight: 400;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}
div.projectz .icons a {
    font-size: 200%;
}
div.projectz:hover span h2,
div.projectz.hover span h2 {
    font-size: 150%;
}
}
/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 500px) {
body.sticky-header header {
    height: 35px;
}
body {
    padding-top: 65px;
}
header {
    height: 85px;
    padding-top: 0;
    margin-top: 0;
    padding-top: 0;
    margin-top: 0;
    border-top: 3px #fff solid;
}
.nav-bar {
    padding: 0;
    height: 35px;
    line-height: 23px;
    border-top: 3px #fff solid;
}
.nav-bar a {
    margin: 0 0 0 14px;
    font-size: 12px;
    line-height: 1;
}
#header-name {
    font-size: 1.55em;
    letter-spacing: 0;
}
.logo {
    margin-top: 1px;
}
#header-name,
#header-title {
    max-width: 200px;
}
#header-title {
    font-size: 65%;
}
#header-title:before {
    left: -892%;
}
#header-title:after {
    right: -892%;
}
.fa-github {
    right: 2px;
}
.fa-twitter {
    right: 35px;
}
.fa-linkedin {
    right: 70px;
}
.fa {
    top: 1px;
    transform: scale(.5);
}
.fa:hover {
    transform: scale(.65);
}
#cover li {
    font-size: 2.5em;
}
#slide-1 {
    padding: 65px 0 0 0;
    margin-left: 10%;
}
#slide-2 {
    padding: 20px;
    margin-left: 16%;
}
#about,
#projects {
    padding: 35px 0 35px 0;
    margin-top: -35px;
    font-size: 25px;
    border-top: 7px solid #175C77;
    border-bottom: 7px solid #175C77;
}
#profile-pic {
    width: 90px;
    border: 5px solid #175C77;
}
.hero-text {
    width: 100%;
    font-size: 20px;
    line-height: 1;
    margin: 0;
}
section.hero.segment {
    height: 450px;
}
.project-container {
    padding: 5px;
}
.about-container {
    padding: 0;
}
#project-hero {
    height: 400px;
}
#about-hero {
    height: 400px;
}
.subheader-text {
    display: none;
}
div.projectz {
    float: none;
    margin: 5px 30%;
    max-width: 40%;
    border: 4px solid #fff;
}
div.projectz h2 {
    margin-top: 5px;
    font-weight: 400;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
div.projectz .icons a {
    font-size: 1.5em;
}
div.projectz:hover span h2,
div.projectz.hover span h2 {
    font-size: 1em;
}
}
