*,
html {
  margin: 0;
  padding: 0;
}
.clearfix {
    *zoom: 1;
}
.header,
.projects .project,
.featured .project {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}
.header .social a,
.nav a {
  text-decoration: none;
  color: #000;
}
@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 200;
  src: local("Nunito ExtraLight"), local("Nunito-ExtraLight"),
    url(https://fonts.gstatic.com/s/nunito/v9/BCVslGnw-rd3HMmA07k036CWcynf_cDxXwCLxiixG1c.ttf)
      format("truetype");
}
@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  src: local("Nunito Light"), local("Nunito-Light"),
    url(https://fonts.gstatic.com/s/nunito/v9/1TiHc9yag0wq3lDO9cw0vqCWcynf_cDxXwCLxiixG1c.ttf)
      format("truetype");
}
@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Bold"), local("Nunito-Bold"),
    url(https://fonts.gstatic.com/s/nunito/v9/TttUCfJ272GBgSKaOaD7KqCWcynf_cDxXwCLxiixG1c.ttf)
      format("truetype");
}
html {
  border: 0;
}
a,
abbr,
acronym,
address,
article,
aside,
blockquote,
body,
caption,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
iframe,
img,
label,
legend,
li,
nav,
object,
ol,
p,
pre,
q,
section,
span,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  background: #fff;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
td,
th {
  text-align: left;
  font-weight: 400;
  float: none !important;
}
table,
td,
th {
  vertical-align: middle;
}
blockquote after,
blockquote before,
q after,
q before {
  content: "";
}
a img {
  border: none;
}
b,
i {
  display: none;
}
* {
  font-family: Nunito, sans-serif;
}
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
      grid-template-areas: "header" "nav" "hero" "about" "title" "featured" "projects" "contact" "talk" "footer";
}
.header,
.nav {
  display: -ms-grid;
}
.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #ddd;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 0.5em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.header .logo {
  padding-top: 5px;
}
.header .logo img {
  width: 90px;
}
.header .social {
  -ms-grid-column-align: end;
      justify-self: end;
}
.header .social a img {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 5px;
}
.header .social #github-icon,
.header .social #linkedin-icon,
.header .social #twitter-icon {
  border: 3px solid #000;
  padding: 2px;
  border-radius: 5px;
}
.header .social #github-icon:hover,
.header .social #linkedin-icon:hover,
.header .social #twitter-icon:hover {
  background-color: #fec77c;
}
.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5em 0.5em 0.25em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  background-color: #fda630;
}
.about,
.about a {
  display: -ms-grid;
}
.nav a {
  text-transform: uppercase;
  font-weight: 700;
}
.nav a:hover {
  color: #fff;
}
.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: about;
  color: #e6e6e6;
  background-color: #000;
  padding: 1em;
}
.about a,
.projects .project a,
.featured .project a {
  text-decoration: none;
  color: #000;
}
.about p {
  line-height: 1.25;
  padding-bottom: 1em;
  font-weight: 200;
  font-size: 15px;
}
.about a,
.title,
.contact {
  font-weight: 700;
}
.talk {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: talk;
  color: #e6e6e6;
  background-color: #000;
  padding: 1em;
}

.talk p {
  padding: 2em 0;
  font-size: 1.25em;
  text-align: center;
}
.talk a {
  color: #fda630;
  text-decoration: none;
}

.about a {
  display: -ms-grid;
  display: grid;
  grid-gap: 4px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  background-color: #fda630;
  font-size: 90%;
  padding: 0.2em 0.3em 0;
  border-radius: 4px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-row-align: start;
  align-self: start;
}
.about a svg {
  display: inline-block;
  width: 20px;
}
.hero,
.projects,
.featured {
  display: -ms-grid;
}
.about a:hover {
  background-color: #fd9b17;
}
.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: hero;
  background-image: url(../images/escheresque.png);
  justify-items: end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}
.footer a,
.projects .project,
.featured .project {
  -ms-grid-column-align: center;
}
.hero img {
  width: 80%;
}
.title {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
      align-self: end;
  text-align: center;
  font-size: 2em;
  padding-top: 1em;
}
.contact {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: contact;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
      align-self: end;
  text-align: center;
  font-size: 2em;
  padding-top: 3em;
}
.featured {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: featured;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1.75em;
  padding: 0.5em 1em;
}
.projects {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: projects;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1.75em;
  padding: 0.5em 1em;
}
.projects .project,
.featured .project {
  display: -ms-grid;
  display: grid;
  background-color: #f7f7f7;
  border-radius: 5px;
  justify-items: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  grid-gap: 5px;
}
.projects .project img,
.featured .project img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.projects .project img:hover,
.featured .project img:hover {
  opacity: 0.9;
}
.projects .project p,
.featured .project p {
  text-align: center;
  line-height: 1.2;
  font-weight: 200;
  font-size: 15px;
}

.projects .project p em,
.featured .project p em {
  font-style: italic;
  font-size: 0.7em;
}
.projects .project h3,
.projects .project p,
.featured .project h3,
.featured .project p {
  padding: 0 10px;
}
.projects .project h3,
.featured .project h3 {
  font-size: 1.3em;
  font-weight: 700;
}
.projects .project div,
.featured .project div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.projects .project a,
.featured .project a {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 1em;
}
.projects .project div img,
.featured .project div img {
  width: 50px;
  height: 25px;
}

/************/
/* OVERLAY  */
/************/

#overlay {
	width:1000%;
	height:1000%;
	background-color:rgba(0,0,0,.8);
	z-index:999;
	position:fixed;
	left:0;
	top:0;
	display:none;
}

.details {
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color:rgba(255,255,255,0.95);
	z-index:1000;
	display:none;
	overflow:scroll;
	padding-bottom:40px;
}

.close {
	background-image:url(../images/close.png);
	width:50px;
	height:50px;
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
	top: 10px;
	right: 10px;
	cursor:pointer;
}

.detail-title {
	width:100%;
	text-align:center;
	margin-top:30px;
}

.detail-image {
	background-repeat:no-repeat;
	background-size:contain;
	max-width:750px;
	height:400px;
	background-position:center;
	margin:auto;
	margin-top:-50px;
}

.detail-description {
	width:90%;
	text-align:left;
	margin:auto;
}

.top-left-box-big .detail-image {
	background-image:url(../images/golf-quiz-app.png);
}

.top-center-box-big .detail-image {
	background-image:url(../images/foodstream-app.png);
}

.top-right-box-big .detail-image{
	background-image:url(../images/vertical_timeline.png);
}

.bottom-left-box-big .detail-image {
	background-image:url(../images/3sventures.png);
}

.bottom-center-box-big .detail-image {
	background-image:url(../images/recipe-roulette-app.png);
}

.bottom-right-box-big .detail-image {
	background-image:url(../images/moving-app.png);
}

/****************/
/* SKILL CHART  */
/****************/


.details .skillbar {
	width:80%;
	margin:auto;
	margin-bottom:6px;
}

.skillbar {
	position:relative;
	display:block;
	background:#eee;
	height:25px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
  width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:25px;
	line-height:25px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:25px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:25px;
	line-height:25px;
	color:rgba(0, 0, 0, 0.4);
}

.footer {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #ddd;
  padding: 1.5em 0;
  margin-top: 1em;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
}

@media screen and (min-width: 1050px) {
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
  .nav {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .about {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
  }
  .talk {
    -ms-grid-row: 9;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
  .hero {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
  }
  .title {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
  .contact {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
  .featured {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
  .projects {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
  .footer {
    -ms-grid-row: 10;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }
}

@media screen and (min-width: 475px) {
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .about {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .talk {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .hero {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
  }
  .title {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .contact {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .featured {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .projects {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .footer {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}
.footer a {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}
.footer img {
  width: 300px;
}

@media screen and (min-width: 320px) {
  .about p {
    font-size: calc(15px + 6 * ((100vw - 320px) / 880));
  }
  .projects .project p,
  .featured .project p {
    font-size: calc(15px + 3 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 475px) {
  .grid,
  .projects {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
  .featured {
    -ms-grid-columns: (1fr) [1];
    grid-template-columns: repeat(1, 1fr);
  }
  .grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header" "nav nav" "about hero" "about hero" "title title" "featured featured" "projects projects" "contact contact" "talk talk" "footer footer";
  }
  .header .logo img {
    width: 150px;
  }
  .header .social a img {
    width: 35px;
    height: 35px;
  }
  .hero img {
    width: 120%;
  }
  .title,
  .contact {
    font-size: 3em;
  }
  .featured {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: featured;
    display: -ms-grid;
    display: grid;
    padding: 0.5em 3em;
  }
  .projects {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: projects;
    display: -ms-grid;
    display: grid;
    padding: 0.5em 3em;
  }
  .details .skillbar {
    width:70%;
    margin:auto;
    margin-bottom:6px;
  }
  .detail-description {
    width:80%;
  }
  .detail-image {
    height:500px;
  }
}
@media screen and (min-width: 1050px) {
  .grid,
  .hero {
    display: -ms-grid;
  }
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr (350px)[3] 1fr;
    grid-template-columns: 1fr repeat(3, 350px) 1fr;
        grid-template-areas: ". header header header ." ". nav hero hero ." ". about hero hero ." ". about hero hero ." ". title title title ." ". featured featured featured ." ". projects projects projects ." ". contact contact contact ." ". talk talk talk ." ". footer footer footer .";
  }
  .nav {
    padding: 0 0.5em;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: hero;
    background-image: url(../images/escheresque.png);
    justify-items: end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
  }
  .hero img {
    width: 80%;
  }
  .about {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: about;
    color: #e6e6e6;
    background-color: #000;
    padding: 2em 1em;
  }
  .about p {
    font-size: 1.25em;
    line-height: 1.25;
    padding-bottom: 0;
  }
  .featured {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: featured;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 0.5em 1em;
  }
  .projects {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: projects;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 0.5em 1em;
  }
  .details .skillbar {
    width:50%;
  }
  .detail-description {
    width:60%;
  }
}

@media screen and (min-width: 1200px) {
  .about p {
    font-size: 21px;
  }
  .projects .project p,
  .featured .project p {
    font-size: 18px;
  }
}